.container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}

.subtitulo {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

label {
    margin: 10px 0 5px;
    display: block;
    font-size: 1em;
    color: #555;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="button"] {
    width: 20%;
    padding: 10px;
    margin: 5px 1%;
    border: 1px solid #007BFF;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

input[type="button"]:focus {
    outline: none;
    background-color: #0056b3;
}
